:root{
    --anim-duration: 10s;
}

.homePageContainer{
    position: relative; 
    background: None;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

#gradient {
    opacity: 0.8;
    animation-duration: 2s;
    height: 100%;
    width: 100%;
}

#gradient:before, #gradient:after {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#gradient:before {
    background-color:rgb(207, 243, 207);
    background-image:
        radial-gradient(at 90% 43%, hsla(289,21%,76%,1) 0px, transparent 50%),
        radial-gradient(at 81% 10%, hsla(255,12%,67%,1) 0px, transparent 50%),
        radial-gradient(at 43% 97%, hsla(216,22%,52%,1) 0px, transparent 50%),
        radial-gradient(at 71% 92%, hsla(188,45%,67%,1) 0px, transparent 50%),
        radial-gradient(at 34% 73%, hsla(52,64%,70%,1) 0px, transparent 50%),
        radial-gradient(at 10% 44%, hsla(161,48%,73%,1) 0px, transparent 50%);
    animation: OpacityAnim var(--anim-duration) ease-in-out 0s infinite alternate;
}

#gradient:after {
    background-color:#ff99cc;
    background-image:
        radial-gradient(at 19% 79%, hsla(91,98%,77%,1) 0px, transparent 50%),
        radial-gradient(at 20% 11%, hsla(204,71%,78%,1) 0px, transparent 50%),
        radial-gradient(at 81% 75%, hsla(51,67%,70%,1) 0px, transparent 50%),
        radial-gradient(at 72% 1%, hsla(354,97%,72%,1) 0px, transparent 50%),
        radial-gradient(at 31% 13%, hsla(128,96%,69%,1) 0px, transparent 50%),
        radial-gradient(at 86% 34%, hsla(279,99%,65%,1) 0px, transparent 50%),
        radial-gradient(at 47% 83%, hsla(356,86%,71%,1) 0px, transparent 50%);
    animation: OpacityAnim var(--anim-duration) ease-in-out calc(-1 * var(--anim-duration)) infinite alternate;
}

@keyframes OpacityAnim {
    0%{opacity: 1.0}
    100%{opacity: 0.0}
}

.welcome-box {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 241, 242);
    max-width: 90%;
    box-shadow: 0 0 5px rgba(236, 206, 206, 0.1);
    border-radius: 15px;
    align-items: center;
    position: absolute;
    z-index: 10; 
    flex: 1;
}

.welcome-text {
    color: #565c54;
    font-size: 2rem;
    font-weight: 200;
    font-size-adjust: inherit;
    font-family: "Aventine";
    padding: 5%;
}

.underline {
    width: 61px;
    height: 6px;
    background: #4f6272;
    border-radius: 9px;
}