.left-nav-container{
    position: fixed;
    flex-basis: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 15;
}

.left-nav-containeranimate{
    position: fixed;
    flex-basis: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 1;
    transform: translateX(-500%);
    opacity: 0;
    animation: slideIn 3s ease forwards;
    animation-delay: 1s;
}

.top-nav-box{
    padding: 20px 20px;
    min-width: 106px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    width: 100%;
    border-bottom: .5px solid #4A6365;
    border-right: 1px solid #4A6365;
    border-top: .5px solid #4A6365;
}

.nav-box{
    padding: 20px 20px;
    min-width: 106px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    width: 100%;
    border-bottom: .5px solid #4A6365;
    border-right: 1px solid #4A6365;
}

.nav-letter {
    display: inline-block;
}

.nav-letteranimate {
    display: inline-block;
    animation: jump 0.6s ease-in-out 1; 
}

.head-text{
    font-family: 'Instrument Serif';
    color: #324B4Bff;
    font-size: 30px;
    font-size-adjust: ex-height 0.5;
    position: relative;
}

.head-text:hover {
    color: #abc9c9;
}

.top-nav-box:hover .glitter-on-hover {
    visibility: visible;
    animation: glitterMove 4s steps(1) infinite; /* Apply the animation */
}

::selection {
    background: #abc9c9;
    color: #4F3F3F;
}

.glitter-on-hover {
    position: absolute;
    top: 60%;
    left: 70%;
    width: 20%;
    text-align: center;
    z-index: 2;
    visibility: hidden;
}

.nav-text{
    font-family: 'Instrument Serif';
    color: #324B4Bff;
    font-size: 30px;
    position: relative;
    text-decoration: none;
}

.nav-text:hover{
    color: #77A28E;
    position: relative;
    scrollbar-color: rgb(156, 156, 190);
}

@keyframes glitterMove {
    0%, 100% {
        top: 5%;
        left: 0%;
        transform: rotate(-15deg);
    }
    25% {
        top: 55%;
        left: 80%;
        transform: rotate(0deg);
    }
    50% {
        top: 55%;
        left: 1%;
        transform: rotate(-5deg);
    }
    75% {
        top: 10%;
        left: 80%;
        transform: rotate(15deg);
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-500%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Adjust the height of the jump */
    }
}