sticky-grid {
    --grid-tc: repeat(16,1fr);
    grid-template-rows: max-content;
    --grid-cs: 1;
    --grid-ce: -1;
    display: grid;
    grid-template-columns: var(--grid-tc);
    height: fit-content;
    width: 100%;
    padding-bottom: 10vh;
}

.see-my-work{
    font-family: 'Margesh';
    color: #77A28E;
    font-size: 1.5rem;
    margin: 0.25em 0rem;
    opacity: 0;
    z-index: 50;
    animation: OpacityAnim 0.5s ease-in 1 6s forwards;
}

.work-block{
    min-width: 10vw;
    max-width: 50vw;
    display: flex;
    grid-column: 4 / 12;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.selected-works{
    padding: 10px;
    margin: 3rem;
    margin-top: 3.5rem;
    font-family: 'Arial';
    color: #646866;
    border: 3px solid;
    font-weight: 200;
    font-size: 1.2rem;
    grid-column: 9 / 14;
    background-color: rgb(238, 238, 238);
    width: 50%;
    border-radius: 15px;
    transform: rotate(4deg);
    opacity: 0;
}

.selected-works-popup{
    bottom: 2vh;
    right: 2vh;
    font-family: 'Arial';
    color: #656967;
    font-weight: 200;
    font-size: 1.2rem;
    background-color: #656967;
    width: 8vw;
    height: 8vw;
    border-radius: 15px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.5s ease;
}

.album-cover-container{
    height: 95%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    border: 3px solid;
}

.music-text{
    height: 95%;
    opacity: 0;
    position: absolute;
    left: 34%;
    top: 38%;
    color: beige;
    transition: width 0.5s ease 0.5s;
}

.see-more-work{
    margin-top: 6rem;
    font-weight: 200;
    font-family: 'Margesh';
    color: #77A28E;
    font-size: 1.5rem;
    text-decoration: none;
}

.work-column-left{
    grid-column: 4 / 9;
    display: flex;
    flex-direction: column;
}

.work-column-right{
    grid-column: 9 / 14;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selected-works:hover {
    opacity: 1;
    cursor: help;
}

.selected-works-popup:hover {
    width: 25vw;
}

.selected-works-popup:hover .music-text{
    opacity: 1;
}

html {
    scroll-behavior: smooth;
}